[data-md-color-scheme="c2sm-light"] {
    --md-primary-bg-color:        #ffffff;
    --md-primary-fg-color:        #339cdd;
}
[data-md-color-scheme="slate"] {
    --md-primary-fg-color:        #00305d;
    --md-hue: 210; 
}